main {
  max-width: unset;
  width: 30rem;
}

div {
  background: white;
  width: 100%;
  aspect-ratio: 3 / 1;
  padding: 1rem;
  box-shadow: var(--shadow-elevation-low);

}

.crosshair-box {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: black;
  }

  &::before {
    /* vertical line */
    top: 0;
    left: 0;
    width: 1px;
    height: 2rem;
    translate: 0 -50%;
  }
}

.crosshair-box::before {
  /* vertical line */
  top: 0;
  left: 0;
  width: 1px;
  height: 2rem;
  translate: 0 -50%;
}

.crosshair-box::after {
  /* horizontal line */
  top: 0;
  left: 0;
  width: 2rem;
  height: 1px;
  translate: -50% 0;
}



