body {
  height: 200dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.card-stack {
  margin-right: 15%;
}

header {
  height: 80px;
  width: 95%;
  margin: 0 auto;
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-shadow: var(--shadow-elevation-medium);
  backdrop-filter: blur(5px);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1.5rem;

}

.card-stack {
  margin-top: 140px;
  
  /* SOLUCION NO ÓPTIMA */
  /* position: relative; */
  /* z-index: 1; */

  /* SOLUCION ÓPTIMA */
  isolation: isolate;
}

.card {
  width: 175px;
  height: 250px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-low);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.card.first {
  background-color: mediumturquoise;
  rotate: -15deg;
  z-index: 1;
  position: relative;
}

.card.second {
  background-color: palegoldenrod;
  rotate: 15deg;
  translate: 90px -110%
}



